.Button {
    width: 100px;
    padding: 10px 30px;
    margin: 5px;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline:none;

    &:disabled {
        background-color: #848484 !important;
        cursor: not-allowed;
    }

    &.darkBlue:active {
        background-color: #4aa0f3 !important;
    }

    &.darkRed:active {
        background-color: #E74C3C !important;
    }
}
